<nav class="navbar navbar-expand-sm">
    <div class="container" id="internal-nav">
        <div class="row">
	    <a class="navbar-brand" href="{{ '/' | absolute_url }}">Learning Stata</a>
            <span class="navbar-text">An unofficial resource for Stata users</span>
        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">About</a>
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#"
                   role="button"
                   aria-haspopup="true" aria-expanded="false">Select a Module</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for module in site.pages %}
                        {% if module.dir == "/stata_modules/" %}
                            <a class="dropdown-item" href="{{ module.url | absolute_url }}">{{ module.title | remove_first: "Learning Stata" }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</nav>
