---
layout: home
---

<h2 style="text-align: center">Pick a module to get started</h2>

<ul class="main-toc border-bottom border-top">
    {% for module in site.pages %}
        {% if module.dir == "/stata_modules/" %}
    <li><a href="{{ module.url | relative_url }}">{{ module.title | remove_first: "Learning Stata" }}</a></li>
        {% endif %}
    {% endfor %}
</ul>


{{content}}

<h3>Information for authors</h3>
Are you an author who wants to contribute to this site? <a href="{{ 'information_for_authors' | relative_url }}">Click here.</a>
